.jumbotron {
  background-color: #ff0303;
  color: whitesmoke;
  margin-top: 50px;
  margin-bottom: 5px;
}
footer {
  padding: 15px 15px 0px 15px;
  background-color: #eee;
  margin-top: 50px;
  margin-bottom: 5px;
}
.card-hotel {
  flex: 1 100px;
  padding: 2px 8px 10px 8px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-informacion {
  width: 350px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 15px;
}
.card-title {
  padding-top: 50px;
  color: midnightblue;
}
.card-subtitle {
  padding-top: 10px;
  padding-bottom: 30px;
}
.card-img-top {
  width: 100%px;
  height: 100%;
}
